.buttonBox {
  display: flex;
  border: 1px #75d2b5 solid;
  background-color: white;
  float: right;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.buttonBox img {
  pointer-events: none;
  width: 80%;
  margin: auto;
}

.buttonBox:hover {
  transition: background-color .2s ease;
  color: white;
  background-color: #75d2b5;
}
