.navBar {
  background-color: #e3e3e3;
  height: 60px;
  box-shadow: 0px 0px 4px #797979;
}

.hamburgerContainer {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}
