.applicationsPageContainer {
  width: 75%;
  margin: 5% auto;
  height: 80vh;
}

@media only screen and (max-width: 768px) {
  .applicationsPageContainer {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}

.contents {
  padding-top: 25px;
  text-align: justify;
  height: 90%;
  width: 100%;
  overflow: scroll;
}
