.whiteButtonContainer {

  width: 100px;
  height: 40px;
  font-size: 24px;
  transition: font-size .2s ease;
  color: black;
  transition: color .2s ease;
  border-bottom: black dotted 1px;
  transition: border-bottom .2s ease;
  cursor: pointer;
  margin: 5px 10px;
}

.whiteButtonContainer:hover {
  transition: color .2s ease;
  transition: border-bottom .2s ease;
  color: #75d2b5;
  border-bottom: #75d2b5 dotted 1px;
  font-size: 26px;
}

.whiteButtonContainer span {
  display: block;
  cursor: pointer;
}
