.posts {
  margin-top: 25px;
}

.postListItem {
  display: flex;
  list-style-type: none;
  height: 50px;
  padding-top: 9px;
  font-size: 24px;
  border-bottom: 1px grey solid;
  cursor: pointer;
}

.postListItem:hover {
  background-color: #EAEAEA;
}

.postName {
  margin-left: 10px;
  margin-right: auto;
}

.postDate {
  color: #9A9A9A;
  margin-right: 10px;
  float: right;
}
